
body {
	margin: 0;
	padding: 0;
	/*background: #000000 url(images/img01.jpg) repeat left top;*/
	font-size: 14px;
	text-align: justify;
	color: #222222;
}

h1, h2, h3 {
	margin: 0;
	text-transform: lowercase;
	font-weight: normal;
	color: #559106;
}

h1 {
	letter-spacing: -1px;
	font-size: 32px;
}

h2 {
	font-size: 23px;
}

p, ul, ol {
	margin: 0 0 2em 0;
	text-align: justify;
	line-height: 26px;
}

a:link {
	color: #A5E543;
}

a:hover, a:active {
	text-decoration: none;
	color: #A5E543;
}

a:visited {
	color: #A5E543;
}

img {
	border: none;
}

img.left {
	float: left;
	margin-right: 15px;
}

img.right {
	float: right;
	margin-left: 15px;
}

/* Form */

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

legend {
	display: none;
}

input, textarea, select {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
}

#wrapper {
	margin: 0;
	padding: 0;
	height: 300px;
	/*background: url(images/img02.jpg) repeat-x left top;*/
}

#wrappera {
	margin: 0;
	padding: 0;
	height: 130px;
	/*background: url(images/img02.jpg) repeat-x left top;*/
}

/* Header */

#header {
	width: 810px;
	margin: 0 auto;
	height: 50px;
	/* background: url(images/img03.jpg) no-repeat left top; */
	background: #000000;
}

/* Menu */

#menu {
	float: left;
	width: 700px;
	height: 60px;
	
}

#menu ul {
	margin: 0;
	padding: 0px 0 0 20px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
}

#menu li:hover{
	background: #222222;
}

#menu a {
	background: url(images/img06.png) no-repeat left 50%;
	display: block;
	float: left;
	margin-right: 3px;
	padding: 12px 15px 12px 20px;
	letter-spacing: -.5px;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 20px;
	color: #FFFFFF;
}

#menu a:hover { 
	text-decoration: underline; 
	color: #A5E543;
}

#menu .current_page_item a {
	color: #A5E543;
}

/**MENU2*/

#menu2 {
	float: right;
	padding-top: 5px;
	padding-right: 10px;
}

#menu2 img:hover{
	background: url(images/petunjuk2.png);
	cursor: pointer;
}

/** LOGO */

#logo {
	width: 810px;
	height: 260px;
	margin: 0 auto;
	/*background: url(images/img04.jpg) no-repeat left top;*/
	text-align: center;
}


#logo a{
	height: 145px;
	width: 810px;
	overflow: hidden;
	float: right;
}

#logo img{
	border: none;
	-webkit-transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	-o-transition: all 0s ease-in-out;
}

#logo a:hover img{
	margin-top: -145px;
}

#logo .kosong{
	width: 810px;
	height: 130px;
	margin: 0 auto;
	/*background: url(images/img04.jpg) no-repeat left top;*/
}

#logo table{
	padding-top: 85px;
	color: #000000;
}

#logo td #submit {
	background-color: #467805;
	border: none;
	color: #FFFFFF;
	text-transform: lowercase;
}

#logo h1, #logo h2 {
	margin: 0;
	padding: 0 0 0 0;
	line-height: normal;
}

#logo h1 { 
	padding-top: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:40px;
	text-align: center;
}

#logo h1 input {
	background-color: #000000;
	color: #EEEEEE;
	border: none;
}

#logo h1 a {
	text-decoration: none;
	color: #FFFFFF; 
}

#logo h1 a:hover { text-decoration: underline; }

#logo h2 {
	/* float: left; */
	padding: 10px 0 0 0;
	font: 18px Georgia, "Times New Roman", Times, serif;
	text-align: center;
}

#logo h2 input {
	background-color: #467805;
	border: none;
	color: #FFFFFF;
	text-transform: lowercase;
	cursor: pointer;
}

#logo h2 input:hover{
	background-color: #669825;
}

#logo h2 input:click{
	background-color: #467805;
}

#logo p a {
	text-decoration: none;
	color: #B6ACA2;
}

#logo p a:hover { text-decoration: underline; }

/*Logoa*/

#logoa {
	width: 810px;
	height: 120px;
	margin: 0 auto;
	/*background: url(images/img04a.jpg) no-repeat left top;*/
	border-bottom: 1px dotted #1F1F1F;
}

#logoa h1, #logoa h2 {
	margin: 0;
	padding: 0 0 0 50px;
	line-height: normal;
}

#logoa h1 { 
	padding-top: 30px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:40px;
	text-align: left;
	color: #000000;
}

#logoa h2 {
	/* float: left; */
	padding: 10px 0 0 50px;
	font: 18px Georgia, "Times New Roman", Times, serif;
	text-align: left;
}

/* Page */

#page {
	width: 810px;
	margin: 0 auto;
}

/* Content */

#content {
	float: left;
	width: 810px;
	margin-top: 15px;
	/*background: url(images/img10.html) no-repeat left top;*/
	
}

/* Post */

.post {
	padding: 15px 0px;
}

.post .title {
	margin-bottom: 0;
	padding-bottom: 0;
}

.post .title b {
	color: #ff0000;
}

.post h1 {
	width: 520px;
	height: 30px;
	padding: 20px 0 0 15px;
	font-size: 24px;
	color: #000000;
}

.post h2 {
	width: 520px;
	height: 60px;
	padding: 20px 0 0 15px;
	font-size: 22px;
	color: #DADADA;
}

.post .entry {
	padding: 5px 15px;
	font-size: 14px;
	border-bottom: 1px dotted #1F1F1F;
}

.post .meta {
	padding: 15px 15px 30px 15px;
	font-size: 13px;
}

.post .meta p {
	margin: 0;
	padding-top: 15px;
	line-height: normal;
	color: #999999;
}

.post .meta .byline {
	float: left;
}

.post .meta .links {
	float: right;
}

.post .meta .more {
	padding: 0 20px 0 18px;
}

.post .meta .comments {
	padding-left: 22px;
}

.post .meta b {
	display: none;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 250px;
	margin: 0;
	padding: 0;
	margin-top: 30px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 40px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0;
	padding-left: 25px;
}

#sidebar h2 {
	width: 250px;
	height: 60px;
	padding: 8px 0 0 25px;
	margin-bottom: 10px;
	background: url(images/img07.jpg) no-repeat left top;
	font-size: 20px;
	color: #DADADA;
}

/* Search */

#search {

}

#search h2 {
	margin-bottom: 20px;
}

#s {
	width: 140px;
	margin-left: 25px;
	margin-right: 5px;
	padding: 3px;
	border: 1px solid #BED99C;
}

#x {
	padding: 3px;
	border: none;
	background: #467805;
	text-transform: lowercase;
	font-size: 11px;
	color: #FFFFFF;
}

/* Boxes */

.box1 {
	padding: 20px;
}

.box2 {
	color: #BABABA;
}

.box2 h2 {
	margin-bottom: 15px;
	font-size: 16px;
	color: #FFFFFF;
}

.box2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.box2 a:link, .box2 a:hover, .box2 a:active, .box2 a:visited  {
	color: #EDEDED;
}

/* Footer */
#footer-wrap {
	width: 810px;
	height: 60px;
	margin: 0 auto;
	/*background: url(images/img05.jpg) no-repeat left top;*/
}

#footer {
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 0;
}

html body #footer {
	height: auto;
}

#footer p {
	font-size: 14px;
}

#legal {
	clear: both;
	padding-top: 17px;
	text-align: center;
	color: #444444;
}

#legal a {
	color: #669825;
}
